* {
    background-color: #ccc;
}
h1 {
    text-align: center;
}
a {
    text-decoration: none;
    text-align: center;
    color: black;
}
.nav {
    text-align: center;
    border: 2px solid black;
}
.nav-titles {
    padding-left: 2rem;
    padding-right: 2rem;
}
input {
    margin-left: 44%;
    margin-top: 7%;
}
.list {
    list-style-type: none;
}
.likes-button {
    border: none;
}
.likes-button:hover {
    border: 1px solid black;
    cursor: pointer;
}